<main>
    <div id="caixaVendas">
        <figure id = "logo" >
            <img src="../imagens/Logo1.png">
        </figure>
        
        <section class="Botoes">
            <a href="vendas/registrar" id="clientes">Registrar Venda</a>
            <a href="vendas/vendasRealizadas" id="func">Vendas Realizadas</a>
            <a href="#" class="voltar">Voltar</a>
        </section>

    </div>
</main>

<script>
    let voltar = document.querySelector('.voltar');
    voltar.addEventListener("click", (e)=>{
        e.preventDefault();
        const idFunc = sessionStorage.getItem('IdFuncionario');
        window.location.href = '/home?user='+idFunc;
    })

   

    
</script>

